@page
@model roasted1.Pages.Admin.Admin

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<h2 class="display-5">Admin</h2>
<div>
    <img class = "background" src="~/CoffeeImages/coffee10.jpg">
</div>
@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Admin"))
        
    {
        <script>
        function navigateToCheckout() {
            window.location.href = "/Menus/Index";
        }
        </script>
        <!-- Your menu content -->
        <button class="button1" onclick="navigateToCheckout()"> Manage Menu </button>
    }

    @if (User.IsInRole("Admin") == false)
    {
        <h1 class="display-7">Not Authorised! </h1>
    }
}