@page
@model roasted1.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers



<h2 class="display-5">login</h2>
<div>
    <img class="background" src="~/CoffeeImages/coffee3.jpg">
    
</div>

<form class="form" method="post">
    <h4>use a local account to log in</h4>
    <hr/>
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Input.Email"></label>
        <input class="input" asp-for="Input.Email" />
        <span asp-validation-for="Input.Email"></span>
    </div>
    <div>
        <label asp-for="Input.Password"></label>
        <input class="input" asp-for="Input.Password" />
        <span asp-validation-for="Input.Password"></span>
    </div>
    <button class="button" type="submit" >Log in</button>
    
</form>



    
