@page
@model roasted1.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="display-5">register</h1>

<div>
<img class = "background" src="~/CoffeeImages/coffee3.jpg">
</div>
<form class="form" method="post">
    <h4>create a new account</h4>
    <hr />
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Input.Email"></label>
        <input class="input" asp-for="Input.Email" class="form-control"/>
        <span asp-validation-for="Input.Email"></span>
    </div>
    <div>
        <label asp-for="Input.Password"></label>
        <input class="input" asp-for="Input.Password" class="form-control" />
        <span asp-validation-for="Input.Password"></span>
    </div>
    <div>
        <label asp-for="Input.ConfirmPassword"></label>
        <input class="input" asp-for="Input.ConfirmPassword" />
        <span asp-validation-for="Input.ConfirmPassword"></span>
    </div>
    <button class="button" type="submit">Register</button>
</form>