@page
@model roasted1.Pages.Menus.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    
}

<h1 class="display-5">Edit</h1>
<div>

    <img class = "background" src="~/CoffeeImages/coffee8.jpg" alt="bg image">
</div>

    <hr/>
    <div class="form">
        @* <div class="col-md-4"> *@
            <form  method="post">
                @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
                <input type="hidden" asp-for="Menu.Id"/>
                @* <div > *@
                    <label asp-for="Menu.ItemName" class="control-label"> Name </label>
                    <input asp-for="Menu.ItemName" class="form-control"/>
                <span asp-validation-for="Menu.ItemName" class="text-danger"></span>
                <br/>
                @* </div> *@
                @* <div > *@
                    <label asp-for="Menu.Price" class="control-label"></label>
                    <input asp-for="Menu.Price" class="form-control"/>
                <span asp-validation-for="Menu.Price" class="text-danger"></span>
                <br/>
                @* </div> *@
                @* <div > *@
                    <input type="submit" value="Save" class="button"/>
                @* </div> *@
            </form>
        @* </div> *@
    </div>

    <div>
        <a class="button1" asp-page="./Index">Back to List</a>
    </div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
