@page
@model roasted1.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using roasted1.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div>
<h1 class="display-4">ROASTED</h1>
</div>

<div>
<img class = "background" src="~/CoffeeImages/coffee4.jpg">
</div>

<div class="about-us">
    @* @if (SignInManager.IsSignedIn(User)) *@
    @* { *@
    @*     <h2 class="text-center border-bottom" >Hello @UserManager.GetUserName(User)!</h2> *@
    @*                                                                                 *@
    @* } *@
    <p>
        Welcome to Roasted! We are a family-owned and operated coffee shop dedicated to serving the
        best coffee and baked goods in town.
        Our passion for coffee and commitment to using only the finest ingredients
        has made us a staple in our community.
        Our coffee beans are carefully selected from the top coffee-growing regions
        around the world and are roasted in small batches to ensure the richest and
        freshest flavor. Our bakers use only the best ingredients, and everything
        from our croissants to our cakes is made from scratch every day.
        At Our Coffee Shop, we believe that coffee is more than just a drink - it's a social
        experience. That's why we have created a warm and welcoming atmosphere where you can
        enjoy a delicious cup of coffee and catch up with friends, family, or just relax and
        unwind.
    </p>

</div>

