@page
@model roasted1.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using roasted1.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<img class = "img1" src="cafeImages/i.jpg">
<img class = "img2" src="cafeImages/d.jpg">
<img class = "img3" src="cafeImages/m.jpg">

<h1 class="accordion-header" class="font-monospace"> roasted </h1>


@if (SignInManager.IsSignedIn(User))
{
    <h2>Hello @UserManager.GetUserName(User)</h2>
}