@page
@model roasted1.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using roasted1.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<h2>Index</h2>
@if (SignInManager.IsSignedIn(User))
{
    <h2>Hello @UserManager.GetUserName(User)</h2>
}