@page
@model roasted1.Pages.Checkout.ThankYou

@{
    ViewData["Title"] = "ThankYou";
    Layout = "~/Pages/Shared/_Layout.cshtml";

}





<h1 class="display-7"> it's ROASTing...... <br/> sit back and relax while we get your order to you! </h1>
<div>
<img class = "background" src="~/CoffeeImages/coffee9.jpg">
</div>
