@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using roasted1.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - roasted1</title>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/roasted1.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    
    <nav class="navbar  navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            @* <a class="navbar-brand" asp-area="" asp-page="/Index">roasted</a> *@
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark text" asp-area="" asp-page="/Index">ROASTED</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Menus/Index">Menu</a>
                    </li>
                    
                    @* these options are only visible when the Admin in not logged in as 
                        they are for customers*@
                    
                    @if (User.IsInRole("Admin") == false)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Checkout/Checkout">Checkout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Contact/Contact">Contact Us</a>
                        </li>
                    }
                    
                    @* this option is only visible to the admin *@
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Admin">Admin</a>
                        </li>
                    }
                    
                    @* greeting the user signed-in on the navbar *@
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark hello" asp-area="">Hello @UserManager.GetUserName(User)!</a>
                            @* <h2 class="text-center border-bottom"></h2> *@
                        </li>                                                                          
                    }
                </ul>
                
                @* the log out button is only shown when the user is logged in *@
                
                @if (User.Identity.IsAuthenticated)
                {
                    <form asp-page="/Account/Logout" method="post">
                        <button class="button" type="submit">Logout</button>
                    </form>
                }
                else
                {
                    <a class="button" asp-page="/Account/Register">Register</a>
                    <br/>
                    <a class="button" asp-page="/Account/Login">Log in</a>
                }

            </div>
        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="bg-footer border-top footer text-muted">
    <div class="container text-white text-center">
        &copy; 2023 - ROASTED &nbsp  <a asp-area="" asp-page=""></a>
        <a class="footer-link text-white" href="http://validator.w3.org/check?uri=referer">Validate HTML</a>
        <a class="footer-link text-white" href="http://jigsaw.w3.org/css-validator/check/referer">Validate CSS</a>
        @if (User.IsInRole("Admin"))
        {
            <a class="footer-link" asp-page="/Admin/Admin">Admin</a>
        }
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>